div.udlite-text-sm.header--header--3sK1h.header--flex-middle--2Xqjv{
    background: #222;
}
span.udlite-text-sm.header--dropdown-button-text--2jtIM{
    color: #ec5252;
}

span.udlite-text-sm.header--dropdown-button-text--2jtIM:hover{
    color: #fff;
}

button#u946-popper-trigger--1.udlite-btn.udlite-btn-large.udlite-btn-ghost.udlite-heading-md.js-header-button.header--dropdown-button--1BviY{
    color: none;
}
span.udlite-block-list-item-content{
    color: #ec5252;
}
div.js-browse-nav-level-one.browse-nav--nav--1WzbY{
    background: #333;
    border: none;
}
div#header-browse-nav-level-two.js-browse-nav-level-two.browse-nav--nav--1WzbY{
    background: #333;
    border: none;
}

svg.udlite-icon.udlite-icon-xsmall.udlite-block-list-item-icon{
    color: tomato;
}

ul.unstyled-list.link-bar--categories--2_xlJ{
    background: #333;
    color: tomato !important;
}

div.udlite-text-sm.header--header--3sK1h.header--flex-middle--2Xqjv{
    border: none !important;
}

a.udlite-btn.udlite-btn-small.udlite-btn-ghost.udlite-heading-sm.link-bar--nav-button--3uJ__ > span {
    color: tomato;
}

button#u946-popper-trigger--1.udlite-btn.udlite-btn-large.udlite-btn-ghost.udlite-heading-md.js-header-button.header--dropdown-button--1BviY > span {
    color: tomato;
}

ul.unstyled-list.link-bar--categories--2_xlJ{
}
div.ud-component--logged-in-home--billboard{

    
}

h2.udlite-heading-xxl.my-learning-unit--title--3Oy5V{
    color: #f3f3f3 !important;
}

body{
    background: #222;
    color: #fff !important;
}

a.udlite-heading-md.popular-topics-unit--topic-tag--6fHd8{
    color:tomato;
}

button.udlite-btn.udlite-btn-large.udlite-btn-secondary.udlite-heading-md.udlite-btn-icon.udlite-btn-icon-large.udlite-btn-icon-round.carousel--button--21JBZ.carousel--next-button--3LJyN{
    background: #222;
    color: tomato;
}

div.lecture-progress-card--lecture-info--3KMHT {
    border: 2px solid tomato;
}

div.udlite-heading-md.lecture-progress-card--lecture-title--2KK3V.lecture-progress-card--lecture-title-large--24pc1.udlite-focus-visible-target{
    color: #eee;
}

div.course-details-quick-view-box--content--33i85{
    background: #222;
    color: #eee;
    border-radius:4px;
    border: 2px solid #fff;
}

a.udlite-heading-lg.course-details-quick-view-box--title--1vjpJ{
    color: #eee;
}

button.udlite-btn.udlite-btn-large.udlite-btn-brand.udlite-heading-md.add-to-cart{
    color: #222;
}

button.udlite-btn.udlite-btn-large.udlite-btn-secondary.udlite-heading-md.udlite-btn-icon.udlite-btn-icon-large.udlite-btn-icon-round{
    color: tomato;
}

div.udlite-focus-visible-target.udlite-heading-md.course-card--course-title--2f7tE{
    color: #eee;
}

h1.udlite-heading-xxl{
    color: #222;
}
p.udlite-text-md{
    color: #222;
}
